## @vtlvariable name="claimManagementData" type="com.rbkmoney.cm.hooker.domain.ClaimData"
Добрый день. У нас для вас новости. По вашей заявке "$!claimManagementData.id" поступил ответ "$!claimManagementData.comment"
Всегда на связи, ваш RBK.money!
