## @vtlvariable name="claimManagementData" type="com.rbkmoney.cm.hooker.domain.ClaimData"
Добрый день. У нас для вас новости. Статус вашей заявки "$!claimManagementData.id" изменен на '$!claimManagementData.status".
Хорошего дня! Всегда на связи, ваш RBK.money!
